Research papers/
Speaker recognition/dataset/
Voice digit recogniton/data/
Voice digit recogniton/splitAudioEn/
Voice digit recogniton/logs/
Voice digit recogniton/splitAudio/
Voice digit recogniton/florin.mp3
*.npy
*.wav
*.h5
*.v2
*.FLORIN
*.FLORIN
*.FLORIN
Speaker recognition/logs/log_constrained20220221-112543/events.out.tfevents.1645435552.FLORIN
*.pb
Speaker recognition/logs/
Speaker recognition/dataset/
Speaker recognition/.idea/
Speaker recognition/__pycache__/
Voice digit recogniton/.idea/
Voice digit recogniton/__pycache__/
Voice digit recogniton\__pycache__\
*.pyc
*.xml
*.xml
*.pyc
Voice digit recogniton/__pycache__/extract_features_construct_dataset.cpython-39.pyc
Voice digit recogniton/.idea/workspace.xml
*.zip
