Research papers/
Speaker recognition/dataset/
Voice digit recogniton/data/
Voice digit recogniton/splitAudioEn/
Voice digit recogniton/logs/
Voice digit recogniton/bin/
Voice digit recogniton/bin/models_constrained/model_Dropout08_moreLayers.h5
Voice digit recogniton/splitAudio/
Voice digit recogniton/florin.mp3
*.npy
*.wav
*.h5
*.v2
*.FLORIN
*.FLORIN
*.FLORIN
Speaker recognition/logs/log_constrained20220221-112543/events.out.tfevents.1645435552.FLORIN
*.pb
Speaker recognition/logs/
Speaker recognition/dataset/
Speaker recognition/bin/
Speaker recognition/processed_google_dataset/
Speaker recognition/test_dataset_to_add_noise/
Speaker recognition/.idea/
Speaker recognition/__pycache__/
Voice digit recogniton/processed_google_dataset/
Voice digit recogniton/test_dataset_to_add_noise/
Voice digit recogniton/.idea/
Voice digit recogniton/__pycache__/
Voice digit recogniton\__pycache__\